.brand-img{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
}

.login-icon{
  width: 20%;
  height: auto;
}

.navbar-wrapper{
  background-color: #f44336;
}

@media screen and (max-width: 992px) and (min-width: 600px) {
  .login-icon{
    width: 40%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .login-icon{
    width: 60%;
    height: auto;
  }
}